page-home {
    img .img{
        width: 50%;
        text-align: center
    }

    .card h2{
        font-size: 4em;
        font-weight: bold;
    }

    .card p{
        font-size: 1em;
    }

    .error{
        margin-top: 50px;
    }
    p{
        padding-left: 20px;
    }
}

