<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Weather App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!weatherData"> 
    <ion-grid class="error">
      <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <img src="assets/location_error.svg" alt="">
        </ion-col>
        <ion-col col-4></ion-col>
      </ion-row>
    </ion-grid>
    <p>All this app to access your location for us to show weather around your area</p>
  </div>
  
  <div *ngIf="location">
    <ion-card *ngIf="weatherData">
      <ion-item-divider color="primary">{{weatherData.name}}</ion-item-divider>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
                <h2>{{weatherData.main.temp}}</h2>
                <p>deg</p>
            </ion-col>
            <ion-col col-6>
              <p><b>Humidity: </b>{{weatherData.main.humidity}}%</p>
              <p><b>Wind: </b>{{ roundUp(weatherData.wind.speed * 3.6 )}} Km/h</p>
              <p><b>Clouds: </b>{{weatherData.weather[0].description}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div> 
  <button ion-button block round (click)="refresh()">Refresh</button>
</ion-content>
